## Get all actual data from the csv files, and set date as index.

In [9]:
import configparser
import pandas as pd
import ast
import glob
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [10]:
import constants as con

â†‘ Constants file contains like below.
~~~
csv_encoding = 'Shift_JISx0213'
csv_path = '..\\data\\**\\E_Detail*.csv'
necessary_columns = ['Date', 'Class-1', 'Class-2', 'Class-3', 'Col-1', 'Col-2', 'Col-3', 'Col-4', 'Col-5', 'Col-6', 'Col-7']
~~~

### Find all csv files in the directory.

In [11]:
csvs = glob.glob(con.csv_path)
print(csvs)

['..\\data\\20190621\\E_Detail_20190621.csv', '..\\data\\20190622\\E_Detail_20190622.csv', '..\\data\\20190623\\E_Detail_20190623.csv', '..\\data\\20190624\\E_Detail_20190624.csv', '..\\data\\20190625\\E_Detail_20190625.csv', '..\\data\\20190626\\E_Detail_20190626.csv', '..\\data\\20190627\\E_Detail_20190627.csv', '..\\data\\20190628\\E_Detail_20190628.csv', '..\\data\\20190629\\E_Detail_20190629.csv', '..\\data\\20190630\\E_Detail_20190630.csv', '..\\data\\20190701\\E_Detail_20190701.csv', '..\\data\\20190702\\E_Detail_20190702.csv', '..\\data\\20190703\\E_Detail_20190703.csv']

### Get all data from csvs.

In [12]:
df = pd.DataFrame()
for csv in csvs:
    dfTmp = pd.read_csv(csv, encoding=con.csv_encoding)
    df = df.append(dfTmp[con.necessary_columns])

### Pleas ignore the line below.
Change some values in the DataFrame to conceal actual values.

In [13]:
df_show = df.rename(columns=con.shown_columns)
df_show['Class-1'] = df_show['Class-1'].map(con.shown_value_Class1)
df_show['Class-3'] = df_show['Class-3'].map(con.shown_value_Class3)

### The DataFrame contains some columns like below.

In [14]:
display(df_show.head(5))

,Date,Class-1,Class-2,Class-3,Col-1,Col-2,Col-3,Col-4,Col-5,Col-6,Col-7
0,19-06-21,JA,1,MA,0,0,0,0,0,0,0
1,19-06-21,JA,2,MA,0,0,0,0,0,0,0
2,19-06-21,JA,3,MA,0,0,0,0,0,0,0
3,19-06-21,JA,4,SD,0,0,0,0,0,0,0
4,19-06-21,JA,5,SD,0,0,0,0,0,0,0

In [15]:
display(df_show[2185:2195])

,Date,Class-1,Class-2,Class-3,Col-1,Col-2,Col-3,Col-4,Col-5,Col-6,Col-7
498,19-06-25,EN,37,MA,44591,0,0,0,0,0,0
499,19-06-25,EN,38,MA,44591,0,0,0,0,0,0
500,19-06-25,EN,39,SD,0,0,0,0,0,0,0
0,19-06-26,JA,1,MA,63277,0,0,0,0,0,0
1,19-06-26,JA,2,MA,63277,0,0,0,0,0,0
2,19-06-26,JA,3,MA,63277,0,0,0,0,0,0
3,19-06-26,JA,4,SD,8430,0,0,0,0,0,0
4,19-06-26,JA,5,SD,8417,0,0,0,0,0,0
5,19-06-26,JA,6,SD,8401,0,0,0,0,0,0
6,19-06-26,JA,7,SD,100,11820,0,4278,0,0,0

In [16]:
display(df_show.tail(5))

,Date,Class-1,Class-2,Class-3,Col-1,Col-2,Col-3,Col-4,Col-5,Col-6,Col-7
505,19-07-03,EN,35,MA,63442,0,0,0,0,0,0
506,19-07-03,EN,36,SD,63428,0,0,0,0,0,0
507,19-07-03,EN,37,MA,63442,0,0,0,0,0,0
508,19-07-03,EN,38,MA,63442,0,0,0,0,0,0
509,19-07-03,EN,39,SD,63424,3,0,0,0,1,0